<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OggencFrontend.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <OggencFrontend.Properties.Settings>
            <setting name="OggencPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="Bitrate" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="SamplingRate" serializeAs="String">
                <value>44100</value>
            </setting>
            <setting name="isBitrate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Level" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="useTag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="useSampling" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Volume" serializeAs="String">
                <value>100</value>
            </setting>
        </OggencFrontend.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
